.edit-profile__save {
  background-color: #000;
  color: #fff;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.21;
  text-align: center;
  width: 358px;
  margin: 48px auto 37px;
  display: block;
  height: 50px;
  border: 1px solid #000;
  border-radius: 2px;
}

@media screen and (max-width: 460px) {
  .edit-profile__save {
    margin: 45px auto 25px;
    font-size: 14px;
    width: 238px;
  }
}

.edit-profile__save:hover {
  opacity: .8;
}
