.logo {
  background-image: url(../../images/Mesto-logo.svg);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  width: 142px;
  height: 33px;
}

@media screen and (max-width: 879px) {
  .logo {
    margin-left: 27px;
  }
}

@media screen and (max-width:320px) {
  .logo {
    width: 103.74px;
    height: 24.4px;
  }
}
