.profile__name {
  font-weight: 500;
  font-size: 27px;
  line-height: 32.68px;
  text-align: center;
  vertical-align: bottom;
  margin: 0;
  margin-right: 18px;
}

@media screen and (max-width:600px) {
  .profile__name{
    margin-right: 10px;
  }
}
